.modalWrapper {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(3px);
  z-index: 250000;
  padding: 20px 20px;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));

  & .modalContentWrapper {
    position: relative;
    overflow-y: auto;
    max-width: 500px;
    width: 100%;
    max-height: 90vh;
    padding: 25px;
    border-radius: 7px;
    overflow-y: auto;
    background: #ffffff;
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.1);

    &::-webkit-scrollbar:vertical {
      display: none;
    }
  }
}
