@use "style/_colors.scss" as c;

.main {
  background-color: #f8f7fb;
  min-height: 100vh;
  // border: 1px solid red;
  width: 100%;
  .flexDiv {
    display: flex;
    min-height: 100vh;
    .imgDiv {
      width: 70%;
      background-color: #cfd2f3;
      min-height: 100vh;
      img {
        width: 100%;
      }
    }
    .detailsDiv {
      width: 30%;
      padding: 30px 50px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      h6 {
        font-size: 18px;
        text-align: center;
        margin-top: 30px;
        font-weight: 600;
        color: c.$btn;
      }
      .title {
        font-size: 16px;
        font-weight: 500;
        margin-top: 3px;
        text-align: center;
        color: c.$title;
        .signUp {
          color: c.$btn;
          font-weight: 500;
        }
      }
      .field {
        margin-top: 20px;
      }
      .checkbox {
        margin-top: 20px;
      }
      .btn {
        width: 100%;
        margin-top: 20px;
        height: 40px;
      }
      .sign {
        font-size: 16px;
        font-weight: 500;
        text-align: center;
        color: c.$gray;
        margin-top: 20px;
      }
      .flex {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
        margin-bottom: 70px;
        img {
          width: 30px;
          height: 30px;
          margin-right: 20px;
        }
      }
    }
  }
}
