.cardNum {
  border: 2px solid #dbe1e4;
  padding: 10px;
  border-radius: 7px;
}
.cvcField {
  display: flex;
  width: 100%;
}
.expireDate {
  border: 2px solid #dbe1e4;
  padding: 10px;
  border-radius: 7px;
  margin: 20px 0px 0px 0px;
}
.cvcFieldInput {
  border: 2px solid #dbe1e4;
  padding: 10px;
  border-radius: 5px;
  margin: 20px 0px 0px 5px;
}
.inputDivStyle {
  // width: 98% !important;
  margin-top: 20px;
}
.payBtnDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}
.payBtn {
  margin-top: 20px;
  padding: 10px 60px;
}
